.form__main {
  width: 21rem;
  height: 30rem;
  display: flex;

  flex-direction: column;
  position: relative;

  background-color: rgba(218, 154, 245, 0.2);
  box-shadow: 5px 7px 29px 0px #6f039c40;

  border-radius: 10px;
  padding: 1rem;
}
#dark .form__main {
  background-color: #4e016e;
}
.main__button {
  width: 100%;
  height: 11%;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #8e44ad;
  justify-content: space-evenly;
}
.button {
  border: none;
  background-color: #fff;
  padding: 0.5rem 4rem;
  text-align: center;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;

  background-color: inherit;
  color: #000;
  border: none;
  text-decoration: none;
}

#dark .button {
  color: #fff;
}
.main__button_login {
  flex: 1;
}
.main__button_signup {
  flex: 1;
}

.main__form {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.button__active {
  background-color: #89caf5;
  border-radius: 25px;
  transition: all 0.1s;
}
#dark .button__active {
  background-color: #0597f7;
}
.main__form_input {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  color: #000;
}

.main__form_email {
}
.main__form_password {
}
.main__form_password {
}
.main__form_submit {
  width: 50%;
  align-items: center;
  border-radius: 25px;
  padding: 1rem;
  background-color: #8e44ad;
  transition: all 0.3s;
}
.main__form_submit:hover {
  transform: translateY(-3px);
}
